# 忽略中间文件和最终输出文件夹
intermediate_files/
final_outputs/
model_cache/

# 忽略 ffmpeg 大文件
ffmpeg/*.dll
ffmpeg/*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 环境
.env
venv/

# IDE
.vscode/
.idea/

# 输出文件
*_summary.md
*_transcription.txt
